*.aux
*.bbl
*.bcf
*.blg
bibliography/refsFEM.bib.sav
bibliography/refsFEM.bib.bak
bibliography/refsOPT.bib.sav
bibliography/refsMBS.bib.sav
bibliography/refsMBS.bib.bak
courses/computational_mechanics/computational_mechanics.log
courses/computational_mechanics/computational_mechanics.run.xml
courses/computational_mechanics/computational_mechanics.out
2019/CMAME_iga/iga_beams.spl
2019/CMAME_iga/iga_beams.log
2019/CMAME_iga/iga_beams.out
2021/NODYCON_nonsmooth_ADMM/author.out
2021/NODYCON_nonsmooth_ADMM/author.log
2021/ADMM_journal/responses_to_reviewers.synctex.gz
2021/ADMM_journal/responses_to_reviewers.pdf
2021/ADMM_journal/author.synctex.gz
2021/ADMM_journal/author_diffV1V2.synctex.gz
2021/MMT_interpolation/article_diff.synctex.gz
2021/MMT_interpolation/article_diff.log
2021/MMT_interpolation/article_diff.nlo
2021/MMT_interpolation/article_diff.pdf
2021/MMT_interpolation/article_diff.spl
2021/MMT_interpolation/article_diff_blue.pdf
2021/NODYCON_nonsmooth_ADMM/Tasora_nodycon_sources.zip
2021/NODYCON_nonsmooth_ADMM/author.pdf
2021/NODYCON_nonsmooth_ADMM/abstract_Nodycon_Tasora.pdf
2019/CMAME_iga/iga_beams.pdf
2021/ADMM_journal/author.ilg
2021/ADMM_journal/author.log
2021/ADMM_journal/author.nlo
2021/ADMM_journal/author.nls
2021/ADMM_journal/author.pag
2021/ADMM_journal/author.pdf
2021/ADMM_journal/author_diffV1V2.pdf
2021/ADMM_journal/latex_sources_for_wiley.zip
2021/NODYCON_PyChrono/author.log
2021/NODYCON_PyChrono/author.pdf
bibliography/refsOPT.bib.bak
2021/ADMM_journal/NOVELTY FILE FOR PAPER.pdf
